<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <div style="text-align:center;display: inline-block;" class="scrollBar">
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp> 	
  </div>
  <div style="text-align:center;display: inline-block;" class="scrollBar">
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  </div>
</div>