<div style="text-align:center" >
  <h1>
    Welcome to {{title}}!!
  </h1>
  <div style="text-align:center;display: inline-block;" class="scrollBar">
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp> 	
  </div>
  <div style="text-align:center;display: inline-block;" class="scrollBar">
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  	<new-cmp></new-cmp>
  </div>
  <span *ngIf="displayMonths;then display else doNotDisplayMonths"></span>

<ng-template #display>
	<div style="margin-top: 50px"> Months :
		<select [(ngModel)]="month" (change)="ngChange()"> <!-- ngModelChange can also be used instead of change -->
      		<option *ngFor="let i of months">{{i}}</option>
   		</select>
	</div>
	<div>Selected Month={{month}}</div>
</ng-template>
<ng-template #doNotDisplayMonths>
   		<div style="margin-top: 50px">
   			Months unavailable at this time
   		</div>
</ng-template>
</div>